body{
    background-color: #252231;
    overflow:none; 
}
* {
    margin: 0;
    padding: 0;
}
/* tela 1*/
#tela-1{
    margin-top:45vh;
    padding: 5px;
}


#game {
    
    background-image:linear-gradient( rgb(20, 189, 20) , rgb(43, 43, 59));
    width: 99%;
    height: 80vh;
    position: relative;
    
}

.pacman {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/pikatchu.gif);
    top: 67vh;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 99999;
    
}


.animar {
    animation: personagem 1s infinite;
}

@keyframes personagem {
    0% {
        top: 67vh;
    }
    33% {
        top: 35vh;
    }
    66% {
        top: 45vh;
    }
    99% {
        top: 50vh;
    }
}

#quadrado {
    background-image: url(../img/paissagem/cortada.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 67vh;
    left: 480px;
    animation: q 2s infinite linear;
    z-index:99991;
}

@keyframes q {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
}

#cenario {
    background-image: url(../img/paissagem/arvore.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 42vh;
    left: 480px;
    animation: q 5s infinite linear;
}

@keyframes cenario {
    0% {
        left: 480px;
    }
    100% {
        left: -1px;
    }
}


/* modal */

.modal-t {
    padding: 10px;
    position: absolute;
    color: white;
    background-color: rgb(22, 22, 31);
    top: 30vh;
    left: 10vh;
    width: 60%;
    height: 25%;
    z-index: 99;
    border-radius:10px
   
  
}
.ceu{
    width: 100%;
    height: 43vh;
    background-color: rgb(22, 32, 53);
    position: absolute;
    animation: ceu 120s infinite;
}
@keyframes ceu {
    0% {
    background-color: rgb(49, 193, 230);
       
    }
    33% {
    background-color: rgb(71, 134, 150);
       
    }
    66% {
        background-color: rgb(57, 78, 83);
    }
    99% {
        background-color: rgb(33, 47, 78);
    }
}
.nuvem{
    width: 100%;
    background-image: url(../img/nuvem.gif);
    height: 30vh;
    background-size: 100%;
}
.terra{
    position:absolute ;
    background-color: rgb(109, 97, 81);
    width: 100%; 
    height: 15vh;
    top:67vh
}
